<% content_for :title, "Add new Hero" %>
<h1>Add new Hero</h1>

<%= form_for :hero, url: heroes_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </p>

  <p>
    <%= f.label :spec_url, "Spec URL (Marvel Heroes Item Base)" %><br>
    <%= f.text_field :spec_url %>
  </p>

  <p>
    <%= f.label :spec_name, "Spec Name" %><br>
    <%= f.text_field :spec_name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<hr>
<p>
<%= link_to 'Back to hero list', heroes_path %>
</p>

<script>
$('input[id=hero_spec_url]').on('change', function() {
    var x1 = "http://";
    var x2 = "marvelheroes.info/";
    if (this.value.substring(0, x2.length) == x2 || this.value.substring(0, x1.length+x2.length) == x1 + x2) {
        $.ajax({
            url: "/welcome/title?url="+this.value,
            complete: function(data) {
                $('input[id=hero_spec_name]').val(data.responseText);
            }
        });
    }
});
</script>
