<h1>New Hero</h1>

<%= form_for :hero, url: heroes_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :spec_name %><br>
    <%= f.text_field :spec_name %>
  </p>

  <p>
    <%= f.label :spec_url %><br>
    <%= f.text_field :spec_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
