<% content_for :title, @hero.name %>
<h2><%= @hero.name %> <span class="hero-level"><%= @hero.level %></span></h2>

<div>
  Spec: <a href="<%= @hero.spec_url %>"><%= @hero.spec_name %></a><br />
  <span><%= @hero.updated_at %></span>
</div>

<table><tr><td valign="top">

<h2>Missing items:</h2>

<table>
<tr>
  <th>Name</th>
  <th>Lvl</th>
  <th>Current</th>
  <th>Lvl</th>
  <th></th>
</tr>
<% @items_missing.each do |mi| %>
<tr>
  <td><%= show_item(mi) %></td>
  <td><%= mi.level %></td>
  <td><%= show_current(mi) %></td>
  <td><%= mi.current_level %></td>
  <td><%= mi.note %> <%= link_to 'edit', edit_hero_item_path(:hero_id => mi.hero_id, :id => mi.id) %></td>
</tr>
<% end %>
</table>

</td><td>&nbsp;</td><td valign="top">

<h2>Equipped items:</h2>

<table>
<tr>
  <th>Name</th>
  <th>Lvl</th>
  <th>Current</th>
  <th>Lvl</th>
  <th></th>
</tr>
<% @items_equipped.each do |mi| %>
<tr>
  <td><%= show_item(mi) %></td>
  <td><%= mi.level %></td>
  <td><%= show_current(mi) %></td>
  <td><%= mi.current_level %></td>
  <td><%= mi.note %> <%= link_to 'edit', edit_hero_item_path(:hero_id => mi.hero_id, :id => mi.id) %></td>
</tr>
<% end %>
</table>

</td></tr></table>

<h2>Add Item</h2>
<div id="show-hero-add-item">
<div id="show-hero-add-item-link">toggle form</div>
<div id="show-hero-add-item-form">
<%= render :partial => 'items/form', :@hero => @hero, :@item => @hero.items.build %>
</div>
</div>

<p>
<%= link_to 'Edit hero', edit_hero_path(@hero) %> |
<%= link_to 'Back to hero list', heroes_path %>
</p>

<script>
$('#show-hero-add-item-form').hide();

$('#show-hero-add-item-link').on('click', function() {
    $('#show-hero-add-item-form').toggle();
});
</script>
