<% content_for :title, "Show Item" %>
<h2>Item: <%= @hero_item.name %></h2>

<table>
<tr>
  <th>Name</th>
  <th>Current</th>
  <th>Status</th>
  <th></th>
</tr>
<tr>
  <td><%= @hero_item.name %> <%= @hero_item.item_type %></td>
  <td><%= @hero_item.current %></td>
  <td><%= @hero_item.status %></td>
  <td><%= @hero_item.note %></td>
</tr>
</table>

<hr>
<p>
<%= link_to 'Back to hero', hero_path(@hero) %> |
<%= link_to 'Back to hero list', heroes_path %>
</p>
