<h1>Editing item</h1>

<%= form_for([@hero, @item]) do |f| %>

  <% if @hero.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hero.errors.count, "error") %> prohibited
        this hero from being saved:
      </h2>
      <ul>
        <% @hero.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :ib_id %><br>
    <%= f.text_field :ib_id %>
  </p>

  <p>
    <%= f.label :item_type %><br>
    <%= select_tag("item[item_type]", options_for_select(@opts_type, @item.item_type.to_s)) %>
  </p>


  <p>
    <%= f.label :status %><br>
    <%= select_tag("item[status]", options_for_select(@opts_status, @item.status.to_s)) %>
  </p>

  <p>
    <%= f.label :current %><br>
    <%= f.text_field :current %>
  </p>

  <p>
    <%= f.label :current_ib_id %><br>
    <%= f.text_field :current_ib_id %>
  </p>

  <p>
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back to hero', hero_path(@hero) %> |
<%= link_to 'Back to hero list', heroes_path %>
