<% content_for :title, "Heroes" %>
<h1>Listing heroes</h1>

<table>
  <tr>
    <th colspan="2">Hero</th>
    <th>Spec</th>
    <th>Miss.</th>
    <th>Equ.</th>
    <th colspan="2">Updated</th>
  </tr>

  <% @heroes.each do |hero| %>
    <tr>
      <td><%= link_to hero.name, hero_path(hero) %></td>
      <td class="hero-level"><%= hero.level%></td>
      <td><%= link_to shorten(hero.spec_name), hero.spec_url, :title => hero.spec_name %></td>
      <td><%= hero.hero_items.where(status: "missing").length %></td>
      <td><%= hero.hero_items.where(status: "equipped").length %></td>
      <td><span title="<%= hero.updated_at %>"><%= ago(hero.updated_at) %></span></td>
      <td><%= link_to "edit", edit_hero_path(hero) %></td>
    </tr>
  <% end %>
</table>

<hr>
<p>
<%= link_to 'Add hero', new_hero_path %>
</p>
