<% content_for :title, @hero.name %>
<h1><%= @hero.name %> <span class="hero-level"><%= @hero.level %>
(<%= link_to 'edit', edit_hero_path(@hero) %>)
</span><span style="<% if @hero.color %>background-color: #<%= @hero.color %><% end %>">&nbsp;&nbsp;</span>
<% if @hero.starred > -1 %><%= HERO_STARS[@hero.starred] %><% end %>
</h1>

<div>
<span class="right last-update">Last updated:<br><%= @hero.updated_at %></span>
<a href="<%= @hero.spec_url %>"><%= @hero.spec_name %></a><br />
</div>

<table><tr><td valign="top">

<h2>Missing items:</h2>

<table>
<tr>
  <th>Name</th>
  <th>Lvl</th>
  <th>Current</th>
  <th>Lvl</th>
  <th></th>
</tr>
<% @hero_items_missing.each do |mi| %>
<tr>
  <td><%= show_item(mi) %></td>
  <td><%= mi.level %></td>
  <td><%= show_current(mi) %></td>
  <td><%= mi.current_level %></td>
  <td><%= mi.note %> <%= link_to 'edit', edit_hero_hero_item_path(:hero_id => mi.hero_id, :id => mi.id) %></td>
</tr>
<% end %>
</table>

</td><td>&nbsp;</td><td valign="top">

<h2>Equipped items:</h2>

<table>
<tr>
  <th>Name</th>
  <th>Lvl</th>
  <th>Current</th>
  <th>Lvl</th>
  <th></th>
</tr>
<% @hero_items_equipped.each do |mi| %>
<tr>
  <td><%= show_item(mi) %></td>
  <td><%= mi.level %></td>
  <td><%= show_current(mi) %></td>
  <td><%= mi.current_level %></td>
  <td><%= mi.note %> <%= link_to 'edit', edit_hero_hero_item_path(:hero_id => mi.hero_id, :id => mi.id) %></td>
</tr>
<% end %>
</table>

</td></tr></table>

<h2>Add Item</h2>
<div id="show-hero-add-item">
<div id="show-hero-add-item-link">toggle form</div>
<div id="show-hero-add-item-form">
<%= render :partial => 'hero_items/form', :@hero => @hero, :@hero_item => @hero.hero_items.build %>
</div>
</div>

<hr>
<p>
<%= link_to 'Back to hero list', heroes_path %>
</p>

<script>
$('#show-hero-add-item-form').hide();

$('#show-hero-add-item-link').on('click', function() {
    $('#show-hero-add-item-form').toggle();
});
</script>
