<!DOCTYPE html>
<html>
<head>
  <title>Antihero | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page-main">
<div id="page-header">
antihero :: <a href="/heroes">all heroes</a> :: <a href="/heroes/new">add hero</a>
<% if Rails.env.development? %><%= " :: <b>DEVELOPMENT</b>".html_safe %><% end %>
</div>

<div id="page-body">
<%= yield %>
</div>

<div id="page-footer">
</div>
</body>
</html>
